

// ! Field Group Rewrite

.horizontal-tabs fieldset.horizontal-tabs-pane {
	padding: 0;
}

div.horizontal-tabs {
	border: none;
}

.horizontal-tabs ul.horizontal-tabs-list {
	background-color: transparent;
	border: none;
}

.horizontal-tabs li {
	list-style: none;
    
}