/*
Syntax error: File to import not found or unreadable: compass.
              Load paths:
                /Users/steve.rhom/Sites/gateway1/docroot/sites/all/themes
                /Users/steve.rhom/Sites/gateway1/docroot/sites/all/themes/omega
        on line 2 of omega/ohm/sass/ohm.styles.scss
        from line 5 of omega/ohm/sass/ohm.no-query.scss

1: $breakpoint-no-queries: true;
2: $breakpoint-no-query-fallbacks: true;
3: 
4: // Re-render everything from styles.scss but without media queries.
5: @import "ohm.styles";

Backtrace:
omega/ohm/sass/ohm.styles.scss:2
omega/ohm/sass/ohm.no-query.scss:5
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin.rb:107:in `method_missing'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:463:in `watch_or_update'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/bin/sass:9:in `<top (required)>'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `load'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `<main>'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/bin/ruby_executable_hooks:15:in `eval'
/Users/steve.rhom/.rvm/gems/ruby-1.9.3-p448/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load paths:\A                 /Users/steve.rhom/Sites/gateway1/docroot/sites/all/themes\A                 /Users/steve.rhom/Sites/gateway1/docroot/sites/all/themes/omega\A         on line 2 of omega/ohm/sass/ohm.styles.scss\A         from line 5 of omega/ohm/sass/ohm.no-query.scss\A \A 1: $breakpoint-no-queries: true;\A 2: $breakpoint-no-query-fallbacks: true;\A 3: \A 4: // Re-render everything from styles.scss but without media queries.\A 5: @import \"ohm.styles\";"; }
