.front {
	.node-video {
		@include col(1,1,0);
		@include break(mobile) {
			@include col(1,1,0);
		}
	}
}

.video-player {
	position: relative;
	height: 0;
	padding: 28% 0;
	overflow: hidden;
	@include break(v-tablet) {
	}
	.osmplayer-default {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% !important;
	}
}



.view-id-video {
	.video-list {
		position: relative;
		@include border-radius();
		overflow: hidden;
		@include trans-bg($black,.6);
		margin-bottom: 1em;
	}
	.img-fill {
		height: 300px;
		width: 100%;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
	}
	a {
		.video-info {
			position: absolute;
			bottom: 0;
			width: 90%;
			padding: .5em 5%;
			@include trans-bg(darken($c-primary,60%),.6);
			h4 {
				color: lighten($c-secondary,20%);
				font-style: normal;
			}
			&.icon {
				&:before {
					background: url("../images/ico-video.png");
					background-position: 0 0;
					background-repeat: no-repeat;
					content: "";
					display: block;
					padding: 30px;
					position: absolute;
					right: 20px;
					top: -60px;			
				}
			}
		}
		&:hover {
			.video-info {
				@include trans-bg(darken($c-primary,60%),.8);
				&.icon {
					&:before {
					background-position: 0 -60px;
					}
				}
			}
		}
	}
}
